[mysqld]
server-id=2
log_bin=mysql-bin
relay_log=relay-log
read_only=1
report_host=mysql-slave
report_port=3306

# GTID-based replication
enforce-gtid-consistency=ON
gtid_mode=ON

# Optional
replicate_do_db=skytracker