[mysqld]
server-id=1
log_bin=mysql-bin

# GTID-based replication (권장)
enforce-gtid-consistency=ON
gtid_mode=ON

# Optional
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
default_authentication_plugin=mysql_native_password